{
  "extends": "eslint:recommended",
  "globals": {
    "expect": true
  },
  "parserOptions": {
    "ecmaVersion": 5
  },
  "rules": {
    "no-console": 0,
    "quotes": [2, "single", {"avoidEscape": true}]
  },
  "env": {
    "browser": true
  }
}
